@charset "UTF-8";

html {
    overflow-y: scroll;
    /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
    /*Internet Explorerが独自に追加したプロパティ*/
    /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

/* リセットおまじない--------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;

}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: bottom;
}

/* --------------------------------------------------- */
body {
    background-color: #3d404D;
}

header {
    background-color: #EFEEF5;
    height: 71px;
}



.main {
    /*height: 505px;*/
    background-color: #3D404D;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.top {
    height: 160px;
    position: relative;
}


.top h1 {
    font-family: HGGothicM;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    color: #EFEEF5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 40px;
}

.chuuouzoroe {

    display: flex;
    justify-content: center;
    /*左右中央揃え*/
    align-items: center;
}

.content {
    width: 60%;
    /*height: 358px;*/
    background-color: #3D404D;
    display: flex;
    flex-direction: column;
}

.image {
    border-radius: 28px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;

}

.gohan p {
    font-size: 18px;
    font-family: HGGothicM;
    font-weight: 100;
    color: #EFEEF5;
    margin-bottom: 20px;
}

.explenation {
    color: #EFEEF5;
    font-size: 15px;
    line-height: 1.6;
    font-family: HGGothicM;
}

footer {
    background-color: #3D404D;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.backhome {
    border-radius: 28px;
    background-color: #E79578;
    width: 205px;
    height: 61px;
    display: flex;
    justify-content: center;
    /*左右中央揃え*/
    align-items: center;
    margin-top: 30px;
}

.backhome p {
    font-size: 24px;
}