html {
    overflow-y: scroll;
    /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
    /*Internet Explorerが独自に追加したプロパティ*/
    /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

/* リセットおまじない--------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;

}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: bottom;
}

/* --------------------------------------------------- */

#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #CDCDCF;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    opacity: 0.95;
}

#wrapper nav ul li {
    display: block;
    padding: 20px 28px
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #3D404D;
}

#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #3D404D;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}

#wrapper .btn-gnavi.open span {
    background: #3D404D
}

#wrapper .btn-gnavi.open span {
    width: 24px;
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
}

#wrapper .contents section:nth-child(odd) p {
    left: 10%
}

#wrapper .contents section:nth-child(even) p {
    right: 10%
}

/*メイン*/

body {
    background-color: #3d404D;
    position: relative;
    text-align: center;
}

header {
    height: 71px;
    background-color: #EFEEF5;
}

.main {
    height: 505px;
    background-color: #3D404D;

}

.top {
    height: 170px;
    position: relative;
}

.top h1 {
    font-family: HGGothicM;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    color: #EFEEF5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.content {
    height: 210px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    /*左右中央揃え*/
    align-items: center;
}

.content a {
    margin-top: 28px;
    font-size: 18px;
    font-family: HGGothicM;
    font-weight: 100;
    color: #3d404D;
    margin-bottom: 20px;
    padding: 30px 0;
}

.btn {
    background-color: #EFEEF5;
    width: 316px;
    height: 85px;
    border-radius: 28px;
    text-align: center;
    margin-bottom: 30px;
    display: block;
}

.complete {
    border-radius: 28px;
    background-color: #E79578;
    width: 205px;
    height: 61px;
    display: flex;
    justify-content: center;
    /*左右中央揃え*/
    align-items: center;

}

footer {
    background-color: #3D404D;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


/********************************/
body {
    position: relative;
    text-align: center;
}

a {
    display: block;
    width: 200px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 28px;

}

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;

}

.overLay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(61, 64, 77, 0.9);
    width: 100%;
    height: 100vh;
    z-index: 10;
}

.modal .inner {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFEEF5;
    padding: 20px;
    border-radius: 28px;
}

.inner {
    height: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

h2 {
    color: #3D404D;
}

p {
    color: #3D404D;
}

.close {
    background: #E79578;
    border-radius: 28px;
}

@keyframes modal {
    0% {
        top: -100%
    }

    100% {
        top: 50%
    }
}

@keyframes modalClose {
    0% {
        top: 50%
    }

    100% {
        top: 100%
    }
}