header {
    background-color: #3D404D;
    height: 71px;
}

body {
    background-color: #3d404D;
}



div {
    padding-bottom: 71px;
}

/*
.logo {
    width: 375pt;
    height: 71pt;
    color: #efffef;
}
*/


.content {
    background-color: #3D404D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 375pt;
    height: auto;
    /*比を崩さずに表示*/
}

input {
    border-radius: 32pt;
}

.name {
    border-color: #3D404D;
    width: 306pt;
    height: 45pt;
    display: block;
    margin: auto;
}

.pass {
    border-color: #3D404D;
    width: 306pt;
    height: 45pt;
    display: block;
    margin: auto;
}


form {
    border: #3D404D;
    text-align: center;
}

.btn {
    border-color: #3D404D;
    width: 205pt;
    height: 61pt;
    background-color: #e79578;
}