<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/eat_sp.css">
    <!--media="screen and ( max-width:750px )"-->
    <title>食事メニュー</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../js/hum_menu.js"></script>


</head>

<body>
    <!--ヘッダの部分-->
    <header></header>
    <div id="wrapper">

        <p class="btn-gnavi">
            <span></span>
            <span></span>
            <span></span>
        </p>
        <nav id="global-navi">
            <ul class="menu">
                <li><a href="">プロフィールを編集</a></li>
                <li><a href="">毎日のがんばり</a></li>
                <li><a href="">過去の筋トレ</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">ログアウト</a></li>
            </ul>
        </nav>
    </div>

    <!--ヘッダのした部分-->
    <div class="main">
        <div class="top">
            <h1>今日の食事</h1>
        </div>
        <!--画像と説明-->
        <div class="chuuouzoroe">
            <div class="content">
                <!--SQLで画像をいれる-->
                <img src="{{db_eatinfo[1]}}" class="image">
                <!--SQLで食事名をいれる-->
                <div class="gohan">
                    <p>{{db_eatinfo[0]}}</p>
                </div>
                <!--説明をいれる-->
                <div class="explenation">
                    <!--仮のテキストとしてスティーブジョブス名言集をぼっこんだ-->
                    <p>
                        {{db_eatinfo[2]}}
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!--フッタの部分-->
    <footer>
        <form action="/menun" method="POST">
            <button name="post_button">
                <p>戻る</p>
            </button>
        </form>
    </footer>

</body>

</html>