<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/otameshi.css">
    <!--media="screen and ( max-width:750px )"-->
    <title>メニュー</title>

</head>

<body>
    <header></header>
    <div id="wrapper">

        <p class="btn-gnavi">
            <span></span>
            <span></span>
            <span></span>
        </p>
        <nav id="global-navi">
            <ul class="menu">
                <li><a href="">プロフィールを編集</a></li>
                <li><a href="">毎日のがんばり</a></li>
                <li><a href="">過去の筋トレ</a></li>
                <li><a href="">お問い合わせ</a></li>
                <li><a href="">ログアウト</a></li>
            </ul>
        </nav>
    </div>

    <!--ヘッダのした部分-->
    <div class="main">
        <div class="top">
            <h1>今日のメニュー</h1>
        </div>
        <!--画像と説明-->

        <div class="content">

            <a href="./eatmenu.html" class="btn eat">
                <p>食事</p>
            </a>
            <a href="./musclemenu.html" class="btn muscle">
                <p>筋トレ</p>
            </a>

        </div>

    </div>

    <!--フッタの部分-->
    <footer>
        <a href="./menu.html" class="btn complete">
            <p>達成</p>
        </a>
    </footer>

</body>

</html>