{% extends 'base.html' %}

{% block content %}
<meta http-equiv="content-type" charset="utf-8">

<link rel="stylesheet" href="../static/css/register.css">

<header></header>

<div class="content">

  <!--<p class="logo"></p>-->

  <img src="../static/img/character_twins.png" alt="画像">

  <form action="/register" method="post">
    <input class="name" type="text" name="name" placeholder="なまえ"><br>
    <input class="pass" type="text" name="password" placeholder="パスワード"><br>
    <input class="btn" type="submit" name="save" value="登録">
  </form>


  <!-- <a href="/login">登録されている方はこちら</a> -->

</div>

{% endblock %}