<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/type_sp.css">
    <!--media="screen and ( max-width:750px )"-->
    <title>初期設定タイプ分類</title>

</head>

<body>
    <!--ヘッダの部分-->
    <header></header>

    <!--ヘッダのした部分-->
    <div class="main">
        <div class="top">
            <h1>あなたはどのタイプにする？</h1>
        </div>

        <!--ボタン部分-->
        <div class="content">
            <!--ムッキムキ-->
            <form action="/bbs" method="POST">
                <button name="post_button">
                    ムッキムキ
                </button>
            </form>
            <!--ナチュムキ-->
            <form action="/bbs" method="POST">
                <button name="post_button">
                    ナチュムキ
                </button>

            </form>

            <!--あとで決める-->
            <form action="/bbs" method="POST">
                <button name="post_button" class="atode">
                    あとで決める
                </button>
            </form>
        </div>
    </div>
    <!--フッタの部分-->
    <footer></footer>

</body>

</html>